html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;
  vertical-align: baseline;*/
}
html {
  height: 100%;
}
body {
  height: 100%;
  font: 13px/16px sans-serif, "DINNextCYR-Light", Arial, Tahoma, sans-serif;
  color: #fff;

  /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;*/
}
ol,
ul, li {
  list-style: none;
}
* {
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:hover {
  color: #fff;
  text-decoration: none;
}
input {
  -webkit-appearance: none;
}

@font-face {
  font-family: "LibreBaskerville_italic";
  src: url("LibreBaskerville-Italic.ttf") format("TrueType");
  font-style: italic;
}
/********************************************************/
/*                      МИКСИНГИ                        */
/********************************************************/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  color: #026353;
}

/********************************************************/
/*                      АНИМАЦИИ                        */
/********************************************************/
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
        transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
       -moz-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}


/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
 

@-webkit-keyframes fade-out {   0% { opacity: 1; }   100% { opacity: 0; }   }
@-moz-keyframes    fade-out {   0% { opacity: 1; }   100% { opacity: 0; }   }
@-o-keyframes      fade-out {   0% { opacity: 1; }   100% { opacity: 0; }   }
@keyframes         fade-out {   0% { opacity: 1; }   100% { opacity: 0; }   }
 

/* Let's get this party started */
/********************************************************/
/*                    ОСНОВНЫЕ СТИЛИ                    */
/********************************************************/


#preloader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1f;
  z-index: 9999999;
  transition: 0.3s opacity;
}
#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}
.spiner {
  border-left:    3px solid rgba(156,188,104,.15) !important;
  border-right:   3px solid rgba(156,188,104,.15) !important;
  border-bottom:  3px solid rgba(156,188,104,.15) !important;
  border-top:     3px solid rgba(156,188,104,.8)  !important;
}

.spinner {
    height: 40px;
    width: 40px;
    position: relative;

    border-left:    3px solid rgba(156,188,104,.15);
    border-right:   3px solid rgba(156,188,104,.15);
    border-bottom:  3px solid rgba(156,188,104,.15);
    border-top:     3px solid rgba(156,188,104,.8);
    border-radius: 100%;

    -webkit-animation: rotation .8s infinite linear;
       -moz-animation: rotation .8s infinite linear;
         -o-animation: rotation .8s infinite linear;
            animation: rotation .8s infinite linear;
}


body {
  background: #d8d8d8;
  overflow: visible;
}

.body-wraper {
  display: none;
  padding-left: 80px;
  opacity: 1;

  -webkit-animation: fade-in 0.7s linear; 
     -moz-animation: fade-in 0.7s linear;
       -o-animation: fade-in 0.7s linear;
          animation: fade-in 0.7s linear;
}

header {
	background: rgba(30,30,31,0.85);
	width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
}

.header__logo-img {
  margin: 30px auto 70px;
  display: block;
  padding: 10px;
}


.logo-top-right {
  width: 80px;
  display: block;
  position: fixed;
  right: 15px;
  top: 20px;
}

.navbar {}

.navbar__li-element {
  width: 100%;
  background: rgba(255,255,255,0.1);
  margin-bottom: 2px;
}

.navbar__li-element:hover {
  /*background: #9cbc68;*/
  background: #83a24f;
}
.navbar__li-element:hover a {
  color: #fff;
}

.navbar__href {
  padding: 19px 0 13px 0;
  display: block;
  color: #f3f3f3;
}

p {
  margin-bottom: 20px;
}

.main-content {
  /*width: 1170px;*/
  padding-bottom: 70px;
  margin: 0 auto;
}


.fullscreenbanner__wraper {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.fullscreenbanner__title-main {
  margin-bottom: 0.6em;
  font-size: 4em;
  font-weight: bold;
}

.fullscreenbanner__title-second {
  font-size: 3em;
  font-style: italic;
  font-family: 'LibreBaskerville_italic', serif;
}


.arrow a {
    position: absolute;
    visibility: visible;
    z-index: 10000;
    left: 50%;
    font-size: 30px;
    margin-left: -15px;
    -webkit-animation: floating 2s infinite linear;
    -moz-animation: floating 2s infinite linear;
    -ms-animation: floating 2s infinite linear;
    -o-animation: floating 2s infinite linear;
    color: #FFF;

    -webkit-transition: all 200ms ease-in;
         -o-transition: all 200ms ease-in;
       -moz-transition: all 200ms ease-in;
}







     









#profile-info {
  background: rgba(30,30,31,0.85);
  padding: 50px;
}


.section-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
}

.lead {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.3px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.profile-info__img {
  width: 100%;
}